@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --fw-regular: 400;
  --fw-bold: 700;
  --ff-primary: 'Roboto', sans-serif;
}

table, h1, th, td {
  font-family: var(--ff-primary);
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: yellow !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
h1 {
text-align: center;
}